# Ignore large files
*.pth
*.pt
*.ts
*.h5
*.onnx
*.ckpt
*.pb
*.nii.gz
*.nii
*.npy
*.whl
__pycache__/
*.log
.DS_Store
.vscode/
.idea/

#Ignore env files
*_env
.env
# Ignore dataset files
data/
pars_CT/
test_dataset_output/
batch*
.dcm
.nrrd
.nii
debug/
